<section class="edition">
	<div class="container edition__container">
		<h1 class="edition__title">Контакты</h1>
		<span class="edition__desc">Издание выходит 8 раз в год и распространяется на Северном Кавказе. Издание посвящено всем аспектам элитной жизни, респектабельности, культуры, гастрономии и ресторанного бизнеса.</span>
	</div>
</section>