<section class="corn">
	<div class="container">
		<h1 class="corn__title">Почему вы выбрали кукурузу?</h1>
		<div class="corn__paragraph">
			<p>
				Нам было важно взять местную культуру. Фермеры Онтарио уже многие годы выращивают кукурузу. Тем более что она прекрасно подходит для дистилляции, а продукт получается без глютена.
			</p>
			<p>
				В другой нашей водке, Aurora, мы используем английскую пшеницу из Йоркшира. Это немного иной напиток, острее, с нотами перца и мяты. Aurora идеально подходит для пикантных коктейлей, бартендеры любят делать на ней «Кровавую Мэри». Что важно, и в Канаде, и в Англии мы придерживаемся принципа single farming, то есть выбираем только тех фермеров, которые специализируются на выращивании одной культуры.
			</p>
			<p>
				Вот-вот на рынке появится Onyx – водка из голубой агавы. Не путайте с текилой, это совсем другой процесс производства. Onyx – совершенно новое слово в индустрии, алкоголь, который стоит между водкой и текилой и вобрал все лучшее от обоих напитков. А еще для нее мы сделали уникальный черный череп, выглядит очень стильно.
			</p>
		</div>
	</div>
	<div class="corn__container">
		<div class="corn__block">
			<div class="corn__images">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/skullfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/skulltablet.webp" type="image/webp">
					<img src="img/skull.png" alt="" class="corn__img">
				</picture>
				<div class="corn__copyright">© Crystal Head</div>
			</div>
			<div class="corn__images">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/skullsfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/skullstablet.webp" type="image/webp">
					<img src="img/skulls.png" alt="" class="corn__img">
				</picture>
				<div class="corn__copyright">© Crystal Head</div>
			</div>
		</div>
	</div>
</section>