<section class="advertising">
	<div class="container">
		<div class="advertising__tablet">
			<div class="advertising__big-block">
					<h2 class="advertising__title">Размещение рекламы</h2>
				<div class="advertising__info-block">
					<div class="advertising__connection">
						<div class="advertising__text">Контактный телефон</div>
						<a href="tel:+7 (495) 510-01-10" class="advertising__info advertising__telephon">+7 495 510-01-10</a>
						<div class="advertising__text">Email</div>
						<a href="mailto:info@prospect-sk.ru" class="advertising__info">info@prospect-sk.ru</a>
					</div>
					<div class="advertising__address">
						<div class="advertising__text">Адрес редакции</div>
						<div class="advertising__info">4-я Мгастральная ул., 11 строение 2, Северный Кавказ, Россия, 120007</div>
					</div>
				</div>
			</div>
			<div class="advertising__image">
				<picture>
					<source media="(min-width: 768px)" srcset="img/annatablet.webp" type="image/webp">
					<img src="img/anna.png" alt="" class="advertising__img">
				</picture>
				<h2 class="advertising__desc">Рекламный менеджер</h2>
				<div class="advertising__name">Анна Колесник</div>
			</div>
		</div>
		<div class="advertising__border"></div>
	</div>
</section>
