<section class="crystal">
	<div class="container crystal__container">
		<p class="crystal__head">
			Что стоит за водкой Crystal Head в запоминающихся бутылках мы с помощью Zoom'a выяснили у ее создателя, канадского актера, комика и музыканта Дэна Эйкройда. Он вместе с Юлией нам все рассказал.
		</p>
		<p>
			Два часа дня, четверг, рабочий день в разгаре. Любой вошедший в офис SWN может увидеть такую картину: автор этого текста с серьезным видом дегустирует водку из хрустального черепа. А как иначе, если через пару часов у меня запланирована встреча в Zoom с создателем Crystal Head – актером и музыкантом Дэном Эйкройдом. Кому-то он хорошо знаком по фильму «Охотники за привидениями» (новая часть вот-вот выйдет на экраны), но по-настоящему он прославился намного раньше благодаря забавному киномюзиклу «Братья Блюз». В этом году культовой картине исполнилось сорок лет.
		</p>
		<p>
			Как выражается Дэн, Crystal Head – это Rolls-Royce в мире крепкого алкоголя. Доступная роскошь и напиток для тех, кто не боится чистого, если не сказать оголенного, вкуса водки. Дегустируя в редакции, мы пришли к выводу, что она и правда выделяется на фоне других: яркая, совсем не скромная, с ванильной ноткой в аромате. Пьется легко, оставляя приятное тепло на языке.
		</p>
		<p>
			К интервью Дэн подключается из студии своих друзей, канадской рок-группы The Tragically Hip, в Кингстоне, что на берегу озера Онтарио. Здесь Дэн работает и записывает подкасты, а живет он в 15 минутах езды отсюда, на ферме, которой его семья владеет вот уже двести лет. В хорошую погоду Эйкройд гоняет на своем «Харлее» – лучшем варианте для самоизоляции, по его словам. В общем, вы поняли: жаловаться на локдаун Дэну не приходится, уж слишком хороши условия. И впрямь ферма в Онтарио вряд ли сравнится с однушкой где-нибудь в Люблино.
		</p>
	</div>
	<div class="crystal__litle-img"></div>
	<div class="container crystal__container">
		<div class="crystal__copyrigth">© Amanda Nikolic/Crystal Head</div>
		<div class="crystal__info">
			<p>
				Два часа дня, четверг, рабочий день в разгаре. Любой вошедший в офис SWN может увидеть такую картину: автор этого текста с серьезным видом дегустирует водку из хрустального черепа. А как иначе, если через пару часов у меня запланирована встреча в Zoom с создателем Crystal Head – актером и музыкантом Дэном Эйкройдом. Кому-то он хорошо знаком по фильму «Охотники за привидениями» (новая часть вот-вот выйдет на экраны), но по-настоящему он прославился намного раньше благодаря забавному киномюзиклу «Братья Блюз». В этом году культовой картине исполнилось сорок лет.
			</p>
		</div>
	</div>
</section>
