<section class="magazines">
	<div class="container">
		<div class="magazines__grid">
			<div class="magazines__block">
				<div class="magazines__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/slanovfullhd.png" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/slanovtable.png" type="image/webp">
						<img src="img/slanov.png" alt="" class="magazines__img">
					</picture>
				</div>
				<h3 class="magazines__title">Сентябрь, 2020</h3>
				<div class="magazines__btn">
					<button class="magazines__button" onclick="o2.gPopup.open('poupap')">Купить</button>
				</div>
			</div>
			<div class="magazines__block">
				<div class="magazines__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/twofullhd.png" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/twotablet.png" type="image/webp">
						<img src="img/two.png" alt="" class="magazines__img">
					</picture>
				</div>
				<h3 class="magazines__title">Сентябрь, 2020</h3>
				<div class="magazines__btn">
					<button class="magazines__button" onclick="o2.gPopup.open('poupap')">Купить</button>
				</div>
			</div>
			<div class="magazines__block">
				<div class="magazines__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/slanovfullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/slanovtable.webp" type="image/webp">
						<img src="img/slanov.png" alt="" class="magazines__img">
					</picture>
				</div>
				<h3 class="magazines__title">Сентябрь, 2020</h3>
				<div class="magazines__btn">
					<button class="magazines__button" onclick="o2.gPopup.open('poupap')">Купить</button>
				</div>
			</div>
			<div class="magazines__block magazines__tablet">
				<div class="magazines__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/twofullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/twotablet.webp" type="image/webp">
						<img src="img/two.png" alt="" class="magazines__img">
					</picture>
				</div>
				<h3 class="magazines__title">Сентябрь, 2020</h3>
				<div class="magazines__btn">
					<button class="magazines__button" onclick="o2.gPopup.open('poupap')">Купить</button>
				</div>
			</div>
			<div class="magazines__block magazines__tablet">
				<div class="magazines__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/slanovfullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/slanovtable.webp" type="image/webp">
						<img src="img/slanov.png" alt="" class="magazines__img">
					</picture>
				</div>
				<h3 class="magazines__title">Сентябрь, 2020</h3>
				<div class="magazines__btn">
					<button class="magazines__button" onclick="o2.gPopup.open('poupap')">Купить</button>
				</div>
			</div>
			<div class="magazines__block magazines__tablet">
				<div class="magazines__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/twofullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/twotablet.webp" type="image/webp">
						<img src="img/two.png" alt="" class="magazines__img">
					</picture>
				</div>
				<h3 class="magazines__title">Сентябрь, 2020</h3>
				<div class="magazines__btn">
					<button class="magazines__button" onclick="o2.gPopup.open('poupap')">Купить</button>
				</div>
			</div>
		</div>
		{% include "blocks/poupap/poupap.twig" %}
	</div>
</section>