<section class="theory">
	<div class="container">
		<h2 class="theory__title">Теория большого озарения</h2>
		<h3 class="theory__text">Дэн, как вы из комика и актера превратились в бизнесмена, который производит водку?</h3>
		<div class="theory__paragraph">
			<p>
				Начинал я с дистрибуции текилы Patrón в начале 2000-х. Как-то сидел у себя на причале, смешивал «<span>Маргариту</span>» и думал, что наверняка могу найти текилу и получше. Я поговорил со своим другом Джоном Полом Деджориа, и мы привезли текилу <span>Patrón</span> в Канаду. Вот тогда-то я и начал пить отличную «<span>Маргариту</span>» на своем причале!
			</p>
			<p>
				Потом стал присматриваться к другим категориям алкоголя. И водка показалась мне широким полем для деятельности. Я подумал, а что, если сделать максимально чистую водку без всяких добавок? Чистый алкоголь – и ничего больше. Мы хотели избежать гликоля, глицерола и сахара. Выбрали у местных фермеров сладкую кукурузу сорта Peaches and Cream – она очень сочная и идеально подходит для производства. Сахар мы не добавляем, того, что есть в кукурузе, хватает. Так как все великие водки начинаются с воды, мы начали искать источник. Им стала кристально чистая ледниковая вода из Ньюфаундленда. Там же находится и дистиллерия.
			</p>
		</div>
		<img src="img/dantablet.webp" alt="" class="theory__img">
	</div>
</section>