<section class="poupap _overlay">
	<div class="container poupap__container">
		<div class="_popup-content">
			<div class="poupap__telephone">
				<div class="poupap__cross">
					<h1 class="poupap__title">Продолжайте в приложении</h1>
					<img src="img/cross.svg" alt="" onclick="o2.gPopup.close(this)" class="poupap__crosshair">
				</div>
				<div class="poupap__desc">Все выпуски журнала у вас под рукой. Просто сканируйте QR-код камерой своего телефона или установите наше приложение для iOS или Android.</div>
				<div class="poupap__images">
					<picture>
						<source media="(min-width: 768px)" srcset="img/code.svg" type="image/webp">
						<img src="img/telephone.png" alt="" class="poupap__img">
					</picture>
				</div>
				<div class="poupap__btn">
					<button class="poupap__button">Загрузить приложение</button>
					<a href="#"><img src="img/appstore.svg" alt="" class="poupap__ap"></a>
					<a href="#"><img src="img/gp.svg" alt="" class="poupap__gp"></a>
				</div>
			</div>
		</div>
	</div>
</section>