{# index.twig #}

{% block footer %}
	<footer>
		<div class="container">
			<div class="footer__menu">
				<a href="#">
					<div class="footer__logo">
						<img src="img/fotlogo.svg" alt="" class="footer__img">
					</div>
				</a>
				<ul class="footer__list">
					<li><a class="footer__link" href="#">Новости</a></li>
					<li><a class="footer__link footer__archiev" href="#">Архив номеров</a></li>
					<li><a class="footer__link footer__interview" href="#">Интервью</a></li>
					<li><a class="footer__link footer__person" href="#">Персона</a></li>
					<li><a class="footer__link footer__photoproject" href="#">Фотопроекты</a></li>
					<li><a class="footer__link footer__contacts" href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="footer__border"></div>
			<span class="footer__desc">Содержание нашего журнала – увлекательные истории о кумирах разных эпох, авторские рубрики, рассказы о путешествиях и  фотопроекты. Наши авторы – образованные люди, специалисты в своей области. Наши читатели – гурманы периодики, которые привыкли получать удовольствие от чтения качественных, профессионально написанных материалов со своеобразным видением темы.</span>
			<div class="footer__tablet">
				<div class="footer__copyright">
					<picture>
						<img src="img/age.svg" alt="" class="footer__age">
					</picture>
					<span class="footer__copy">© Prospect — Северный Кавказ, 2004-2020. Все права защищены.</span>
				</div>
				<div class="footer__develop">
					<a href="#">
						<picture>
							<img src="img/oll.svg" alt="" class="footer__oll">
						</picture>
					</a>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
