<div class="g-pagination">
	<div class="g-pagination__arrow g-pagination__arrow--left">
		<span>Предыдущая</span>
	</div>
	<div class="g-pagination__numbers">
		<div class="g-pagination__text">1</div>
		<div class="g-pagination__text">из</div>
		<div class="g-pagination__text">8</div>
	</div>
	<div class="g-pagination__arrow g-pagination__arrow--right">
		<span>Следующая</span>
	</div>
</div>