<div class="_overlay _mobile-menu-popup">
	<div class="_popup-content mobile-menu">
		<div class="mobile-menu__title">Разделы</div>
		<ul class="mobile-menu__list">
			<li><a href="#" class="mobile-menu__item">Новости</a></li>
			<li><a href="#" class="mobile-menu__item">Архив номеров</a></li>
			<li><a href="#" class="mobile-menu__item">Интервью</a></li>
			<li><a href="#" class="mobile-menu__item">Персона</a></li>
			<li><a href="#" class="mobile-menu__item">Фотопроекты</a></li>
			<li><a href="#" class="mobile-menu__item">Контакты</a></li>
		</ul>
	</div>
</div>
