<section class="sketch">
	<div class="container">
		<h2 class="sketch__title">Больше чем зарисовки</h2>
		<div class="sketch__paragraph">
			<p>
				В 1970-е Эйкройд выступал в популярном американском телешоу Saturday Night Live, где выдавал уморительные пародии на Джулию Чайлд (хоть сейчас можно найти их на YouTube), Ричарда Никсона и других. Но хитом SNL стала парочка эксцентричных музыкантов в темных очках и шляпах – Элвуд и Джейк Блюзы. Эти зарисовки Эйкройд делал в паре со своим другом Джоном Белуши. Скетчи на телевидении переросли в полнометражный фильм, который обратил в свою веру целую армию поклонников.
			</p>
		</div>
		<div class="sketch__video">
			<iframe width="720" height="480" src="https://www.youtube.com/embed/TUVcZfQe-Kw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="sketch__paragraph">
			<p>
				Помню, я приехал в Петербург в составе группы различных культурных деятелей. В одном из дворцов мы пили водку с икрой, я сидел рядом с Мартой Стюарт, веселил ее. Классное было время.
			</p>
			<p>
				Еще мне нравится водка в сочетании со средиземноморской кухней, в частности с сардинами. Она идет к копченой рыбе, блюдам израильской кухни, сырам, печени. Вариантов много!
			</p>
		</div>
	</div>
</section>