<section class="zero">
	<div class="container">
		<h2>C чего все началось?</h2>
		<div class="zero__desc">Полная фильмография Дэна Эйкройда заняла бы неприлично много места, так что приводим лишь несколько картин с его участием:</div>
		<h3>Фильмография Дэна Эйкройда</h3>
		<ul>
			<li><b>1980</b> – «Братья Блюз»</li>
			<li><b>1983</b> – «Поменяться местами»</li>
			<li><b>1984</b> – «Охотники за привидениями»</li>
			<li><b>1989</b> – «Шофер и мисс Дэйзи», «Охотники за привидениями 2»</li>
			<li><b>1983</b> – «Яйцеголовые»</li>
			<li><b>1996-2000</b> – «Пси Фактор: хроники паранормальных явлений»</li>
			<li><b>2001</b> – «Перл Харбор»</li>
			<li><b>2007</b> – «Чак и Ларри: Пожарная свадьба»</li>
			<li><b>2013</b> – «За канделябрами»</li>
			<li>Готовится к выходу в <b>2021 </b>году «Охотники за привидениями: Наследники»</li>
			<div class="zero__absolute">
				<span>Значимые года развития самой клиники и бизнеса</span>
				<div class="zero__border"></div>
				<span>прим. редактора</span>
			</div>
		</ul>
		<h3>Другие даты из биографии:</h3>
		<ul>
			<li><b>1975-1979</b> – работает на шоу Saturday Night Live как сценарист и актер </li>
			<li><b>1992</b> – основывает сеть ресторанов и концертных площадок House of Blues</li>
			<li><b>2005</b> – начинает заниматься дистрибуцией текилы Patrón в Канаду</li>
			<li><b>2007</b> – основывает бренд водки Crystal Head</li>
		</ul>
		<figure>
			<picture>
				<source media="(min-width: 768px)" srcset="img/dantablet.webp" type="image/webp">
				<img src="img/dan.png" alt="" class="zero__img">
			</picture>
			<figcaption>© Crystal Head</figcaption>
		</figure>
	</div>
</section>