<section class="staff">
	<div class="container">
		<h2 class="staff__title">Редакция</h2>
		<div class="staff__block">
			<div class="staff__images">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/carpfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/carptablet.webp" type="image/webp">
					<img src="img/carp.png" alt="" class="staff__img">
				</picture>
				<h3 class="staff__desc">Креативный директор</h3>
				<div class="staff__name">Дмитрий Карпов</div>
			</div>
			<div class="staff__images">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/carpfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/carptablet.webp" type="image/webp">
					<img src="img/carp.png" alt="" class="staff__img">
				</picture>
				<h3 class="staff__desc">Креативный директор</h3>
				<div class="staff__name">Дмитрий Карпов</div>
			</div>
			<div class="staff__images">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/carpfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/carptablet.webp" type="image/webp">
					<img src="img/carp.png" alt="" class="staff__img">
				</picture>
				<h3 class="staff__desc">Креативный директор</h3>
				<div class="staff__name">Дмитрий Карпов</div>
			</div>
			<div class="staff__images staff__flex">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/carpfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/carptablet.webp" type="image/webp">
					<img src="img/carp.png" alt="" class="staff__img">
				</picture>
				<h3 class="staff__desc">Креативный директор</h3>
				<div class="staff__name">Дмитрий Карпов</div>
			</div>
			<div class="staff__images staff__flex">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/carpfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/carptablet.webp" type="image/webp">
					<img src="img/carp.png" alt="" class="staff__img">
				</picture>
				<h3 class="staff__desc">Креативный директор</h3>
				<div class="staff__name">Дмитрий Карпов</div>
			</div>
			<div class="staff__images staff__flex">
				<picture>
					<source media="(min-width: 1440px)" srcset="img/carpfullhd.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/carptablet.webp" type="image/webp">
					<img src="img/carp.png" alt="" class="staff__img">
				</picture>
				<h3 class="staff__desc">Креативный директор</h3>
				<div class="staff__name">Дмитрий Карпов</div>
			</div>
		</div>
	</div>
</section>