<section class="water">
	<a href="#">
		<div class="container water__container">
			<img src="img/waterfullhd.png">
			<div class="water__content">
				<h3 class="water__title">Тихие воды Алтая</h3>
				<span class="water__desc">Озеро Коз —  авторский фотопроект Дмитрия Леонтева, влюбленного в природу Северного Кавказа.</span>
			</div>
			<div class="water__bc"></div>
		</div>
	</a>
</section>