{# <section class="bottle">
	<div class="container">
		<picture>
			<source media="(min-width: 1440px)" srcset="img/julianfullhd.png" type="image/webp">
			<source media="(min-width: 768px)" srcset="img/juliantablet.png" type="image/webp">
			<img src="img/julian.png" alt="" class="bottle__img">
		</picture>
		<p class="bottle__paragraph">Что стоит за водкой Crystal Head в запоминающихся бутылках мы с помощью Zoom'a выяснили у ее создателя, канадского актера, комика и музыканта Дэна Эйкройда. Он вместе с Юлией нам все рассказал.</p>
	</div>
</section> #}