<section class="recent">
	<div class="container recent__container">
		<div class="recent__block">
			<div class="recent__magazine">
				<h3 class="recent__title">Свежий цифровой номер<span class="recent__price">600₽</span></h3>
				<button href="#" class="recent__button">Читать журнал</button>
			</div>
			<div class="recent__image">
				<img src="img/woman.png" alt="">
			</div>
		</div>
	</div>
</section>
