<sectino class="info">
	<div class="container info__container">
		<div class="info__grid _info-items">
			<a href="#" class="info__block">
				<div class="info__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/girlfullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/girltb.webp" type="image/webp">
						<img src="img/grilmb.png" alt="" class="info__img">
					</picture>
				</div>
				<div class="info__text">
					<h3 class="info__title">Персона</h3>
					<span class="info__desc">Юлия Маскурова — основатель частной стоматологической клиники «Julia Smile»</span>
				</div>
			</a>
			<a href="#" class="info__block">
				<div class="info__block-image">
					<picture>
						<source media="(min-width: 768px)" srcset="img/sun.webp" type="image/webp">
						<img src="img/grilmb.png" alt="" class="info__img">
					</picture>
				</div>
				<div class="info__text">
					<h3 class="info__title">Персона</h3>
					<span class="info__desc">Раннее утро в горах КБР вместе с Анной Макаровой</span>
				</div>
			</a>
			<a href="#" class="info__block">
				<div class="info__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/boocfullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/booc.webp" type="image/webp">
					<img src="img/grilmb.png" alt="" class="info__img">
					</picture>
				</div>
				<div class="info__text">
					<h3 class="info__title">Изделия</h3>
					<span class="info__desc">«Zalina Shishman» — как украшение вашего статуса в обществе</span>
				</div>
			</a>
			<a href="#" class="info__block">
				<div class="info__block-image">
					<picture>
						<source media="(min-width: 768px)" srcset="img/clock.webp" type="image/webp">
						<img src="img/grilmb.png" alt="" class="info__img">
					</picture>
				</div>
				<div class="info__text">
					<h3 class="info__title">Изделия</h3>
					<span class="info__desc">«Zalina Shishman» — как украшение вашего статуса в обществе</span>
				</div>
			</a>
			<a href="#" class="info__block">
				<div class="info__block-image">
					<picture>
						<source media="(min-width: 1440px)" srcset="img/bookfullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/book.webp" type="image/webp">
					<img src="img/grilmb.png" alt="" class="info__img">
					</picture>
				</div>
				<div class="info__text">
					<h3 class="info__title">Читальный зал</h3>
					<span class="info__desc">«Мартин Иден» Джек Лондон. Это история про то, что каждый человек может сделать себя сам</span>
				</div>
			</a>
			<a href="#" class="info__block">
				<div class="info__block-image">
					<picture>
						<source media="(min-width: 768px)" srcset="img/house.webp" type="image/webp">
						<img src="img/grilmb.png" alt="" class="info__img">
					</picture>
				</div>
				<div class="info__text">
					<h3 class="info__title">Читальный зал</h3>
					<span class="info__desc">«Мартин Иден» Джек Лондон. Это история про то, что каждый человек может сделать себя сам</span>
				</div>
			</a>
		</div>
		<a class="info__block info__block--template _info-block-template" href="#url#">
			<div class="info__block-image">
				<picture>
					<img src="#imagePath#" alt="#alt#" class="info__img">
					</picture>
				</div>
			<div class="info__text">
				<h3 class="info__title">#categoryName#</h3>
				<span class="info__desc">#title#</span>
			</div>
		</a>
		<div class="info__btn">
			<button onclick="o2.info.showMore(this)" class="info__button _show-more-btn">Показать больше</button>
		</div>
	</div>
</sectino>
