<section class="digest">
	<div class="container">
		<div class="digest__flex">
			<div class="digest__block">
				<div class="digest__block-image">
					<picture class="digest__img">
						<source media="(min-width: 1440px)" srcset="img/manfullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/mantablet.webp" type="image/webp">
						<img src="img/man.png" alt="">
					</picture>
				</div>
				<div class="digest__desc">Мастер-класс «Индивидуальные элементы интерьера: особенности разработки»</div>
			</div>
			<a href="#" class="digest__interview">
				<div class="digest__block-flex">
					<div class="digest__title digest__fullhd">Интервью с испанским художником, преподавателем, основателем</div>
					<div class="digest__text">Какие тренды царят в современном художественном образовании? Почему нужны академические знания? Есть ли альтернатива официальному, государственному арт-образованию?</div>
				</div>
			</a>
		</div>
		<div class="digest__tablet">
			<div class="digest__mini">
				<div class="digest__block-image-flex">
					<picture class="digest__img-flex">
						<source media="(min-width: 1440px)" srcset="img/winefullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/winetablet.webp" type="image/webp">
						<img src="img/wine.png" alt="">
					</picture>
				</div>
				<div class="digest__op">Интервью Метью Кинович — о жизни, детях, успехе</div>
			</div>
			<div class="digest__mini">
				<div class="digest__block-image-flex">
					<picture class="digest__img-flex">
						<source media="(min-width: 1440px)" srcset="img/winefullhd.webp" type="image/webp">
						<source media="(min-width: 768px)" srcset="img/winetablet.webp" type="image/webp">
						<img src="img/wine.png" alt="">
					</picture>
				</div>
				<div class="digest__op">Дайджест: 31 октября – 6 ноября</div>
			</div>
			<a href="#" class="digest__record digest__record-felx">
				<div class="digest__block-fullhd">
					<div class="digest__title digest__text-fullhd">Pantone и отчет самых трендовых цветов 2017</div>
					<div class="digest__text">Институт цвета Pantone представляет свое видение трендовых цветов каждого сезона.</div>
				</div>
			</a>
		</div>
		<div class="digest__container">
			<div class="digest__border"></div>
		</div>
	</div>
</section>
