<section class="collected">
	<div class="container collected__container">
		<h1>Архив номеров</h1>
		<p class="collected__desc">Мы собрали в одном месте общий список номеров за все годы выхода журнала</p>
	</div>
</section>