<section class="smile">
	<div class="container smile__container">
		<h1 class="smile__title">Персона</h1>
		<div class="smile__desc">Юлия Маскурова — основатель частной стоматологической клиники «Julia Smile»</div>
	</div>
</section>