<section class="author">
	<div class="container author__container">
		<div class="author__block">
			<div class="author__image">
				<picture>
					<source media="(min-width: 768px)" srcset="img/miniannatablet.webp" type="image/webp">
					<img src="img/minianna.png" alt="" class="author__img">
				</picture>
			</div>
			<div class="author__anna">
				<h1 class="author__title">Автор материала</h1>
				<h2 class="author__name">Анна Колесник</h2>
			</div>
		</div>
		<div class="author__tags">
			<div class="author__tag">Анна Колесник</div>
			<div class="author__tag">алкоголь</div>
			<div class="author__tag">Юлия Маскурова</div>
			<div class="author__tag">стоматология</div>
		</div>
	</div>
	<div class="container">
		<div class="author__border"></div>
	</div>
</section>